# .gitignore (at the root of your project)

# General
.DS_Store
*.pem
*.log

# Environment Variables (IMPORTANT)
.env
.env.*

# Python / Django
__pycache__/
*.pyc
venv/
/staticfiles/
/media/

# Node / Expo
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
npm-debug.*
yarn-debug.*
yarn-error.*

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# TypeScript
*.tsbuildinfo